

<div class="img-container">
  <img src="https://apicms.mstar.com.my/uploads/images/2020/05/07/670065.jpg" alt="">
  <div class="text">Not Bad</div>
  <div class="expand">
    <i class="fas fa-expand"></i>
  </div>
</div>

<div class="enlarged-img">
  <span class="close">
    <i class="fas fa-times"></i>
  </span>
  <img src="https://apicms.mstar.com.my/uploads/images/2020/05/07/670065.jpg" alt="">
  <div class="text">Good</div>
</div>